@{
    Layout = null;
}

<h2> @ViewBag.Message </h2>

<p>
    @Html.ActionLink("Back to Products", "Index")
</p>

<h2> Shopping Cart </h2>
@if (ViewBag.Cart != null && ViewBag.Cart.Count > 0)
{
    <ul>
        @foreach (var item in ViewBag.Cart)
        {
            <li>@item.Name - @item.Price</li>
        }
    </ul>
}
else
{
    <p>Cart is empty.</p>
}
